@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: .2em;
    font-family: 'Ubuntu', serif;
}

body {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

p {
    font-family: 'Ubuntu Condensed', serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.ch-login {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.ch-login .intro {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #40596b;
    overflow: hidden;
    z-index: -100;
}

.ch-login .intro .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .ch-login .intro .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .ch-login .intro .fullscreen-bg__video {
        width: auto;
        height: 100%;
    }
}

.ch-login .forms {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background: rgba(232, 206, 77, 0.9);
}

.ch-login .forms .logo {
    width: 100%;
    text-align: center;
}

.ch-login .forms .logo h2 {
    color: #40596b;
    font-size: 3em;
}

.ch-login .forms .form {
    width: 100%;
    margin: 0 auto;
}

.ch-login .forms .form .tab {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.ch-login .forms .form .tab a {
    background: transparent;
    padding: 1em 3em;
    border: none;
    border-bottom: 1px solid #40596b;
    color: #40596b;
    font-size: 1em;
    letter-spacing: .2em;
    font-family: 'Ubuntu Condensed', serif;
    text-transform: uppercase;
}

.ch-login .forms .form .tab a.active {
    background: #40596b;
    color: #E8CE4D;
}

.ch-login .forms .form form {
    width: 70%;
    margin: 0 auto;
    margin-top: 5em;
}

.ch-login .forms .form form .inputwrapper {
    width: 100%;
    margin: 1em auto;
    font-family: 'Ubuntu Condensed', serif;
    display: block;
}

.ch-login .forms .form form .inputwrapper label {
    display: block;
    color: #40596b;
    margin-bottom: 2px;
}

.ch-login .forms .form form .inputwrapper label .errs {
    font-size: .7em;
    color: #ec1717;
    display: block;
}

.ch-login .forms .form form .inputwrapper input[type="email"],
.ch-login .forms .form form .inputwrapper input[type="password"],
.ch-login .forms .form form .inputwrapper input[type="text"] {
    width: 100%;
    background: transparent;
    color: #40596b;
    font-family: 'Ubuntu Condensed', serif;
    border: 1px solid #40596b;
    padding: 1em 2em;
    font-size: .9em;
}

.ch-login .forms .form form .login-action {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 50% 50%;
}

.ch-login .forms .form form .login-action input[type="submit"] {
    background: #40596b;
    border: none;
    padding: 1em 2em;
    color: #E8CE4D;
    font-size: 1em;
    letter-spacing: .2em;
    font-family: 'Ubuntu Condensed', serif;
}

.ch-login .forms .form form .login-action a {
    color: #40596b;
    padding-top: 2em;
    text-align: right;
}


/* Dashboard category and recipe layout.  */

.ch-home {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.ch-home .ch-categories {
    background: #40596b;
    height: 100vh;
}

.ch-home .ch-categories .intro {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 60%;
    grid-gap: 1em;
}

.ch-home .ch-categories .intro h2 {
    color: #E8CE4D;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: left;
}

.ch-home .ch-categories .intro .add {
    padding: 1em;
    text-align: right;
}

.ch-home .ch-categories .intro .add a {
    color: #E8CE4D;
    border: 1px solid #E8CE4D;
    padding: .2em 3em;
    text-transform: uppercase;
}

.ch-home .ch-categories .categories {
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
}

.ch-home .ch-categories .categories .category-item {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid #E8CE4D;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 1em;
}

.ch-home .ch-categories .categories .category-item h2 {
    font-family: 'Ubuntu Condensed', serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #E8CE4D;
    font-weight: inherit;
}

.ch-home .ch-categories .categories .category-item .actions svg {
    color: #E8CE4D;
    padding: .2em;
}

.ch-recipes {
    background: #f5f5f5;
    height: 100vh;
}

.ch-recipes .recipes {
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 2em;
}

.ch-recipes .recipes .recipe {
    background: linear-gradient(to right, #3a5365, #40596b);
}

.ch-recipes .recipes .recipe .meta {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: .2em;
}

.ch-recipes .recipes .recipe .meta p {
    font-size: .6em;
    text-transform: uppercase;
    color: #f5f5f5;
    letter-spacing: .2em;
    font-weight: 100;
    padding: .2em;
}

.ch-recipes .recipes .recipe h2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    font-size: .9em;
    padding: 2em .8em;
    color: #f5f5f5;
    text-transform: uppercase;
}

.ch-recipes .recipes .recipe .actions {
    width: 100%;
    margin: 0 auto;
    background: #E8CE4D;
    text-align: center;
    padding: 1em 0em;
}

.ch-recipes .recipes .recipe .actions svg {
    color: #3a5365;
    padding: .2em;
}